* {
    font-family: "Heebo", sans-serif;
}
header .laptop ul li a{
    transition: 300ms;
}
header .laptop ul li a:hover{
    box-shadow: 0 0 2px red;
    
}
header #menu ul li a{
    padding: 0 8px;
    transition: 300ms;
}
header #menu ul li a:hover{
    box-shadow: 0 0 2px red;
    border-radius: 22px;
    
}



